.black{
  color: $white;
  background-color: $black27;
  &:hover{
    background-color: $blue0f;
  }
  &.disabled{
    color:rgba(255,255,255,.6);
    &:hover{
      background-color: $blue;
    }
  }
}