
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:lang(ko){font-family: 'Pretendard', sans-serif;}
:lang(en){font-family: 'Poppins', sans-serif;}


html,body{
}
html{
  // font-size: 62.5%;
  font-size: 100%;
}
body{
  font-size: 1rem;
}
