@media(max-width:1700px){
  .login-left{
    &:before{
      background-image: url("/images/images/cloud.svg");
      background-repeat: no-repeat;
      background-size: 18.75rem 13.323125rem;
      background-position: right 100px bottom 50px;
    }
  }
}
@media (max-width:1200px){
  .login-left{
    position: absolute;
    left: 2rem;
    top: 2rem;
    &:before{
      background: none ;
    }
    .login-left-bg{
      background-image:none;
    }
  }

  .login-left-wrap{
    padding: 0;
    .login-txt{
      display: none;
    }
    &:before,&:after{
      background: none;
    }
  }
  .login-logo{
    width: 10rem;
    height:4.414rem;
  }
  .login-form{
    width: 100%;
    padding:2.5rem;
  }
  .account-content{
    width:90%;
  }
  .account-content-bottom{
    flex-direction: column;
    align-items: flex-start;
    // width:calc(100% - 10rem);
    padding: 5rem;
  }
  .gra-bg{
    display: none;
  }
}
@media (max-width:1000px){
  html{
    font-size: 14px;
  }
  .account-content-bottom{
    // width:calc(100% - 4rem);
    width:100%;
    padding:4rem  2rem;
    > div{
      width: 100%;
    }
  }
  .bottom-left{
    p{
      font-size: 2rem;
    }
  }
  .bottom-right{
    ul{
      padding:4rem 0 0 0;
      li{
        align-items: center;
        justify-content: space-between;
        font-size: 1.2rem;
        span{
          flex: 1;
        }
      }
    }
  }
  // .login-pop-select{
  //   input{
  //     height: 30px !important;
  //     line-height:30px !important ;
  //   }
  // }
  // .login-pop-input{
  //   label{
  //     top: -7px;
  //   }
  //   input{
  //     height: 30px !important;
  //     line-height:30px !important ;
  //   }
  // }
  .current-auth{
    flex-direction: column;
  }
  .account-activation{
    padding-top: 50px;
    align-items: flex-start;
  }
  .account-content-top{
    .logo{
      width: 120px;
      height: 35px;
    }
  }
  .popup-form{
    .modernize-1xt0r1m-MuiInputBase-root-MuiOutlinedInput-root{
      height: 41.61px;
    }
  }
}