.shop-list{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:rem(15);
  a{
    // display: block;
  }
  &__thumb{
    position: relative;
    background-color: #fff;
    border-radius: rem(12);
    overflow: hidden;
    .badge{
      @include position(left,rem(12),top,rem(11))
    }
    &__large{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__small{
      @include position(right,rem(8),bottom,rem(8));
      width: vw(56);
      height: vw(56);
      border-radius: 100%;
      border: 1px solid $grayd6;
      .list & {
        width: vw(48);
        height: vw(48);
      }
      .card & {
        width:vw(96);
        height:vw(96);
      }
    }
  }
  &__title{
    font-size: rem(13);
    color:$gray1e;
    font-weight: 500;
    line-height: rem(18);
  }
  &__price{
    display: grid;
    gap:rem(2) rem(4);
    grid-template-columns:minmax(rem(40),auto) minmax(rem(40),1fr);
    &--sale{
      grid-column: 1 /-1;
      font-weight: 700;
      font-size: rem(13);
      line-height: rem(18);
      color: $red;
    }
    &--original{
      font-weight: 500;
      font-size: rem(13);
      line-height: rem(16);
      text-decoration: line-through;
      color: $gray83;
    }
    &--sell{
      font-weight: 700;
      font-size: rem(13);
      line-height: rem(18);
      color: $gray1e;
    }
  }
  &__rating{
    @include bg('ico_rate.svg',left);
    padding-left: rem(18);
    font-weight: 500;
    font-size: rem(11);
    line-height: rem(16);
    color: $gray1e;
  }
  &__info{
    display: grid;
    gap:rem(3);
  }
  &__funcbtn{
    display: flex;
    gap:rem(12)
  }
  &.list{
    grid-template-columns: 1fr;
    > li{
      display: grid;
      gap:0 rem(16);
      grid-template-columns:vw(100) 1fr;
    }
    a:first-child{
      grid-row:1 / 3;
    }
  }
  &.card{
    grid-template-columns: 1fr;
    > li{

    }
  }
}